@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}

.animate-fade-in-down {
    animation: fadeInDown 1s ease-out forwards;
}




@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}




#headline {
    color: #f1fcf1;
    font-size: 3rem;
    /* Smaller than 4xl */
    font-weight: 500;
    line-height: 1.4;
    font-family: sans-serif;
    white-space: pre-wrap;
    /* preserve line breaks */
}



.row {
    display: flex;
    align-items: stretch;
}

.side {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}






/* Custom focus ring color for inputs */
input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #F7B32B;
    box-shadow: 0 0 0 2px rgba(247, 179, 43, 0.5);
}

/* Transition effect for form steps */
.donation-step {
    transition: opacity 0.3s ease-in-out;
}

.donation-step.hidden {
    opacity: 0;
}

